@import "module/widget";
// @import "theme/theme-teal";


time {
  text-transform: uppercase;
}
.article-datetime {
  text-transform: uppercase;
}

.article-footer {
  border-top: 1px solid #eee;
  background: #fc0;
}
