<footer id="footer" class="row l-footer">

  <div class="show-for-sr">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  </div>

  <div class="l-footer-body">
    <div id="footer-info" class="large-6 columns">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    </div>
    <div class="large-6 columns text-right">
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>


</footer>
